@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.Main_Container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.dashboard {
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 0;
    color: white;
    background-color: #222e3c;
    padding-top: 15px;
    
}

.active.dashboard {
    left: -30vw;
}

.dashboard_heading {
    font-size: 17px;
    padding-left: 17px;
}

.pages_heading {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    padding-left: 20px;
}

.dashboard_ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.dashboard_li {
    width: 100%;
    height: 35px;
    gap: 10px;
    align-items: center;
    color: white;
    display: flex;
    padding-left: 30px;
}

.dashboard_li:hover {
    cursor: pointer;
    background-color: #3a4c62;
    border-left: 2px solid #b6d0ed;
}


.li_icons {
    font-size: 12px;
}

.li_names {
    font-size: 12px;
}

.Nav_And_MainContent {
    width: 100vw;
}

.active.Nav_And_MainContent {
    position: absolute;
    width: 100vw;
    left: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: relative;
    z-index: 10;
    
}

.navbar_right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar_person_img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    cursor: pointer;
}

.navbar_person {
    font-size: 15px;
    cursor: pointer;
}

.navbar_icons {
    font-size: 18px;
    cursor: pointer;
}

.navbar_hamburger_icon {
    font-size: 18px;
    cursor: pointer;
}

.navbar_bell {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.navbar_notification {
    font-size: 7px;
    font-weight: 500;
    background-color: rgb(27, 44, 98);
    color: white;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -3px;
}

.analytics_dashboard {
    background-color: #f3f5f9;
    width: 100%;
    position: relative;
    height: calc(100vh - 60px);
    padding: 1rem 1rem !important;
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    
}
.analytics_dashboard_upper {
    display: flex;
    width: 100%;height: 100%;
    justify-content: space-between;
    align-items: center;
}

.analytics_dashboard_heading {
    font-size: 21px;
    font-weight: 200;
}

.card_box {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: 12.4rem !important;
    padding: 13px 15px;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card_icon {
    position: absolute;
    right: 15px;
    font-size: 11px;
    background-color: #d3e2f7;
    color: rgb(27, 44, 98);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_week {
    display: flex;
    gap: 5px;
}

.card_heading {
    font-size: 11px;
    font-weight: 500;
    color: grey;
}

.card_number {
    font-size: 18px;
}

.card_week {
    font-size: 9px;
    font-weight: 500;
    color: grey;
}

.analytics_dashboard_upper_left {
    width: 40%;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.two_card_arrange {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1.2rem;
    align-items: center;
}

.analytics_dashboard_upper_right {
    padding: 20px 10px;
    width: 58%;
    height: 100% !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
} 







@media only screen and (max-width: 700px) {
    
    .dashboard {
        transition: transform 0.9s ease-in-out;
        max-width: 100%;
        z-index: 99;
        height: 100%;
        width: 20vw;
        gap: 20px;
        transform: translateX(-100%);
    }

    .active.dashboard{
        transform: translateX(0);
    }
    
    .navbar_hamburger_icon,
    .dashboard {
        display: flex;
        place-items: center;
        font-size: 2rem;
        margin-right: 10px;
        cursor: pointer;
    }
    .Nav_And_MainContent {
        width: 80vw;
    }

    .Nav_And_MainContent {
        padding-left: 0;
    }

    .dashboard_heading {
        font-size: 16px;
    }

    .pages_heading {
        font-size: 8px;
        padding-left: 10px;
    }

    .dashboard_li {
        height: 35px;
        padding-left: 15px;
    }

    .li_icons {
        font-size: 9px;
    }

    .li_names {
        font-size: 9px;
    }

   
    .navbar {
        height: 60px;
    }

  

    .navbar_person_img {
        width: 32px;
        height: 32px;
    }

    .navbar_person {
        font-size: 10px;
    }

    .navbar_icons {
        font-size: 14px;
    }

    .navbar_hamburger_icon {
        font-size: 15px;
    }

    .navbar_bell {
        font-size: 14px;
    }

    .navbar_notification {
        font-size: 5px;
        width: 10px;
        height: 10px;
    }

   .navbar_hamburger_icon,
    .analytics_dashboard {
        height: fit-content;
       
        gap: 1.5rem;
    }

    .analytics_dashboard_heading {
        font-size: 18px;
    }

    .two_card_arrange {
        gap: 0.5rem;
    }

    .card_box{
        padding: 15px 7px;
        gap: 7px;
    }

    .card_icon {
        font-size: 10px;
        width: 1.5rem;
        height: 1.5rem;
        right: 10px;
    }


    .card_heading {
        font-size: 10px;
    }

    .card_number {
        font-size: 17px;
    }

    .card_week {
        font-size: 9px;
    }

    .analytics_dashboard_upper_left {
        width: 100%;
    }



    .analytics_dashboard_upper_right {
        width: 100%;
        height: 15rem;
        padding: 10px 0px;
    }

    .charts_title {
        font-size: 10px;
    }


    .analytics_dashboard_lower {
        flex-direction: column;
        align-items: center;
    }

    .analytics_dashboard_lower_left {
        width: 80%;
    }

    .analytics_dashboard_lower_middle {
        width: 80%;

    }

    .analytics_dashboard_lower_right {
        width: 80%;
        padding-top: 15px;
        height: 15rem;
        gap: 10px;
    }

    #donut_chart {
        transform: scale(0.6);
    }

    .donut_charts_title {
        font-size: 13px;
    }

    .world_map_heading {
        font-size: 13px;
    }

    .world_map {
        height: 12rem;
    }


    .world_map_btn {
        width: 13px;
        height: 13px;
        font-size: 10px;
    }

    .analytics_dashboard_upper {
        flex-direction: column;
        gap: 2rem;
    }

    .dashboard_calender {
        font-size: 13px;
    }

    .wrapper {
        padding-top: 20px;
    }

    .wrapper header {
        padding: 10px 15px;
    }

    header .icons span {
        height: 25px;
        width: 25px;
        margin: 0 1px;
        line-height: 38px;
        font-size: 12px;
    }

    header .current-date {
        font-size: 15px;
    }

    .calendar {
        padding: 15px 10px;
    }

    .calendar .days {
        margin-bottom: 8px;
    }

    .calendar li {
        font-size: 13px;
    }

    .calendar .days li {
        margin-top: 10px;
        font-size: 13px;
    }

    .days li::before {
        height: 25px;
        width: 25px;
    }
}

@media (width >=700px) {
    .dashboard {
        height: 120vh;
        gap: 25px;
    }

    .dashboard_heading {
        font-size: 22px;
    }

    .pages_heading {
        font-size: 14px;
    }

    .dashboard_li {
        height: 45px;
    }

    .li_icons {
        font-size: 15px;
    }

    .li_names {
        font-size: 15px;
    }


    .navbar {
        height: 65px;
    }

    .navbar_person_img {
        width: 40px;
        height: 40px;
    }

    .navbar_person {
        font-size: 15px;
    }

    .navbar_icons {
        font-size: 18px;
    }

    .navbar_hamburger_icon {
        font-size: 18px;
    }

    .analytics_dashboard {
        padding-left: 0;
    }
    .navbar_bell {
        font-size: 18px;
    }

    .navbar_notification {
        font-size: 7px;
        width: 12px;
        height: 12px;
    }

    .analytics_dashboard {
        height: calc(100vh - 65px);
        padding: 1.5rem 2rem;
        gap: 1.8rem;
    }

    .analytics_dashboard_heading {
        font-size: 25px;
    }


    .card_box {
        padding: 19px 15px;
        gap: 12px;
    }

    .card_icon {
        font-size: 14px;
        width: 2.3rem;
        height: 2.3rem;
    }


    .card_heading {
        font-size: 14px;
    }

    .card_number {
        font-size: 23px;
    }

    .card_week {
        font-size: 12px;
    }

  
    .analytics_dashboard_upper_right {
        height: 16rem;
    }


    .analytics_dashboard_lower_right {
        padding-top: 25px;
        padding-bottom: 25px;
        height: 18rem;
        gap: 20px;
    }

   


    #donut_chart {
        transform: scale(0.8);
    }

    .donut_charts_title {
        font-size: 15px;
    }

    .world_map_heading {
        font-size: 15px;
    }

    .world_map {
        height: 15.5rem;
    }

 

    .world_map_btn {
        width: 17px;
        height: 17px;
        font-size: 12px;
    }

    .charts_title {
        font-size: 15px;
    }


    .dashboard_calender {
        font-size: 15px;
    }

    .wrapper {
        padding-top: 20px;
    }

    .wrapper header {
        padding: 15px 15px;
    }

    header .icons span {
        height: 35px;
        width: 35px;
        margin: 0 1px;
        line-height: 38px;
        font-size: 15px;
    }

    header .current-date {
        font-size: 17px;
    }

    .calendar {
        padding: 10px 15px;
    }

    .calendar .days {
        margin-bottom: 15px;
    }

    .calendar li {
        font-size: 14px;
    }

    .calendar .days li {
        margin-top: 10px;
        font-size: 14px;
    }

    .days li::before {
        height: 28px;
        width: 28px;
    }
}

